<style type="text/css">
	body{
		background: #1ca1f0;
	}
</style>
<div class="login-box">
	<div class="login-avatar">
		<i class="fa fa-user-circle-o" aria-hidden="true"></i>
	</div>
	<h3 class="txt-white">Cadastro</h3>
	<input type="text" class="form-control" placeholder="Nome" name="">
	<input type="email" class="form-control" placeholder="Email" name="">
	<input type="password" class="form-control" placeholder="Senha" name="">
	<input type="password" class="form-control" placeholder="Repetir senha" name="">	
	<button class="btn btn-default btn-block">CADASTRAR</button>
</div>