<div class="home-content">
	<div class="form-group">
		<label>No que você está pensando?</label>
		<textarea rows="3" maxlength="200" ng-model="mensagem" class="form-control" ng-focus="showButtons=true"></textarea>
		<div style="text-align: right; margin-top: 5px">
			<button ng-show="showButtons==true" ng-click="postagem=''; showButtons=false" class="btn btn-default">Cancelar</button>
			<button ng-if="showButtons" class="btn btn-primary" ng-click="enviarMensagem(mensagem)">Postar</button>
		</div>	
	</div>
	<div class="posts">
		<h3>Postagens</h3> 
		<hr>
		<div class="post" ng-repeat="post in postagens">
			<img ng-if="canShow(post.usuario_id)" src="/images/{{post.foto}}" onerror="this.src='/images/placeholder.png'">
			<div class="user-data" ng-if="canShow(post.usuario_id) || post.usuario_id == usuario.id">
				<h4>{{post.nome}}</h4>
				<p>{{post.data_postagem | date : 'dd/MM/yyyy'}}</p>
				<div>
					{{post.texto}}
				</div>
			</div>
		</div>
	</div>
</div>