<style type="text/css">
	body{
		background: #1ca1f0;
	}
</style>
<div class="login-box">
	<div class="login-avatar">
		<i class="fa fa-user-circle-o" aria-hidden="true"></i>
	</div>
	<h3 class="txt-white">Login</h3>
	<input type="email" class="form-control" placeholder="Email" name="">
	<input type="password" class="form-control" placeholder="Senha" name="">	
	<button class="btn btn-default btn-block">ENTRAR</button>
	<a class="btn btn-default outline btn-block" href="#/cadastro">CADASTRE-SE</a>
</div>