<nav class="custom-nav">
	<div class="menu">
		<a class="menu-item {{isRouteActive('/')? 'active' : ''}}" href="#/">
			<span><span><i class="fa fa-home"></i></span></span>
			<span>Principal</span>
		</a>
		<a class="menu-item {{isRouteActive('/usuarios')? 'active' : ''}}" href="#/usuarios">
			<span><span><i class="fa fa-users"></i></span></span>
			<span>Usuários</span>
		</a>
		<a  class="menu-item {{isRouteActive('/notificacoes')? 'active' : ''}}" href="#/notificacoes">
			<i class="fa fa-bell" aria-hidden="true"></i>
			<span>Notificações</span>
		</a>
		<div class="search">
			 <input type="text" class="form-control" placeholder="Buscar usuarios" style="margin-top: 2px">
			 <button class="btn btn-default">Buscar</button>
		</div>
	</div>

</nav>
<div class="container">	
	<div class="main">
		<div class="perfil card">
			<div class="perfil-header">
				<img src="../eu.jpg">
			</div>
			<div class="perfil-content">
				oi
			</div>
		</div>
		<div class="conteudo card" ui-view>
			
		</div>
	</div>
	<!-- 	<div class="row">
		<div class="col-md-4 no-padding">
			<div class="card">
				oi
			</div>
		</div>
		<div class="col-md-8 no-padding" style="padding-left: 20px">
			<div class="card">
				
			</div>
		</div>
		</div>
 -->
</div>

