<nav class="custom-nav">
	<div class="menu">
		<a class="menu-item {{isRouteActive('/')? 'active' : ''}}" href="/home">
			<span><span><i class="fa fa-home"></i></span></span>
			<span>Principal</span>
		</a>
		<a class="menu-item {{isRouteActive('/usuarios')? 'active' : ''}}" href="#/usuarios?pesquisa=">
			<span><span><i class="fa fa-users"></i></span></span>
			<span>Usuários</span>
		</a>
		<a  class="menu-item {{isRouteActive('/notificacoes')? 'active' : ''}}" href="s/notificacoes">
			<i class="fa fa-bell" aria-hidden="true"></i>
			<span>Notificações</span>
		</a>
		<div class="search">
			 <input type="text" ng-model="busca" class="form-control" placeholder="Buscar usuarios" style="margin-top: 2px">
			 <a class="btn btn-default" style="margin-left: 5px;height: 35px;margin-top: 1px" href="#/usuarios?pesquisa={{busca}}">Buscar</a>
		</div>
	</div>

</nav>
<div class="container">	
	<div class="main">
		<div class="perfil card">
			<div class="perfil-header">
				<img src="../eu.jpg">
			</div>
			<div class="perfil-content">
				<h4>Igor Guedes {{teste}}</h4>
				<p>teste@teste.com</p>
				<button ng-click="logout()" class="btn btn-danger">
					Sair
				</button>
			</div>
		</div>
		<div class="conteudo card" ui-view>
			
		</div>
	</div>
</div>

