<div class="lista-usuarios">
	<h3>Lista de usuários</h3>
	<div class="usuario" ng-repeat="usuario in usuarios" ng-if="usuario.id != my_id">
		<div class="imagem">
			<img src="/images/{{usuario.foto}}" onerror="this.src='/images/placeholder.png'">
		</div>
		<div class="info">
			<h4>{{usuario.nome}}</h4>
			<p>{{usuario.email}}</p>
		</div>
		<div class="actions">
			<button ng-if="canFollow(usuario.id)" class="btn btn-success" ng-click="seguir(usuario.id)">
				Seguir
			</button>
		</div>
	</div>
</div>